 .component {
  opacity: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* transform: translate(-49%, -80%); */
    /* height: 25%; */
    /* width: 39%; */
  }
  
  #heading{
    margin-bottom: 50px;
    color: rgb(89, 119, 112);
  }
  
  .login-container {
    height:10%;
    /* position: absolute; */
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); */
    padding: 20px 40px; 
    /* width: 35%; */
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-container label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 93%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;

    
  }
  
  .login-container button {
    width: 92%;
    padding: 10px;
    /* background-color: #28a745; */
    background-color:#599959;

    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;

  }
  
  .login-container button:hover {
    /* background-color: #218838; */
    /* background-color: rgb(89, 119, 112); */

  }

/* .login-disable{
    opacity: 0.3;
  }  */


  .login-disable{
    opacity: 0.6;
  } 


  input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: none;
}