<div class="container">
  <h3 style="font-weight: 100;">Layout : {{selectedFloor}}</h3>

  <div class="dropdown">
    <label for="floor-select"></label>
    <select   id="floor-select" [(ngModel)]="selectedFloor" (change)="onFloorChange()">
      <option   *ngFor="let floor of floors" [value]="floor">{{ floor }}</option>
    </select>
  </div>

  <div *ngIf="selectedFloor">
    <div class="slots-container">
      <div  (click)="showDiv()"  style="font-weight: 100;" class="slot" *ngFor="let slot of [].constructor(currentFloorData?.totalSlots)">
        Slot
      </div>
    </div>

    <div class="rooms-container">
      <div class="room" *ngFor="let room of currentFloorData?.rooms">
        <p style="font-weight: 100;">{{ room.name }} ({{ room.slots }})</p>
      </div>
    </div>
  </div>
</div>
