/* ::ng-deep .p-dialog .p-dialog-header {
  display: none;
} */



.container {
  text-align: center;
  padding: 20px;
  position: absolute; 
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 80vw;
}

.dropdown {
  margin-bottom: 20px;
  position: relative;
  top: -2%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.slots-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  /* background-color: #f5f5f5; */
  border-radius: 12px;
  margin-bottom: 10px;
  overflow-y: auto;
  height: 50vh;
  /* overflow-y: auto; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* justify-content: center; */
  /* justify-content: space-around; */
}

.slot {
  width: 50px;
  height: 50px;
  background-color: #d7ccc8;
  /* border-radius: 8px; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.rooms-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 8rem));
  gap: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  /* background-color: #f9f9f9; */
  border-radius: 12px;
  overflow-y: auto;
  height: 11vh;
  width: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* overflow: auto; */
  /* justify-content: space-around; */
  justify-content: center;
}

.room {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #d7ccc8;
  background-color: #d7ccc8;
  text-align: center;
  font-weight: bold;
}

.dropdown select{
  padding: 5px;
  font-size: 15px; 
  border-color: gray;
  border-radius: 5px;
}

#floor-select option{
  font-size: 13px;
  outline: none; 
}


#floor-select {
  outline: none; 
}

.red {
  /* background-color: rgb(207, 83, 83); */
  /* background-color: rgb(107, 226, 153); */
  background-color: rgb(101, 205, 140);
  color: white; 
}

.green {
  background-color: #c1bebe;
  /* background-color: rgb(79, 157, 109); */
  color: white; 
}


@media (min-width: 768px) {
  .dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;
    margin: 0;
  }
}
