



<div  class="box" >
  <div class="left" >
    <h1 class="proj-name"><b>WorkSpace Management</b></h1>
  </div>
  <div class="right" >
    <div class="login-container">
      <h2 id="heading" >Forgot Password </h2>
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit($event)">
        <label   style="font-size: 15px; text-align: center;" for="username">Enter your email to receive a new password</label>
        <input type="text" id="username" formControlName="email" [(ngModel)]="email" placeholder="Email" />
    
        <button [ngClass]="{'login-disable': forgotForm.invalid}" type="submit" [disabled]="forgotForm.invalid">Submit </button>
      </form>
    </div>
  </div>
</div>