<!-- 

<div style="width: 500px; padding: 10px; margin: 10px auto;">
<form [formGroup]="admin" class="p-fluid">
    <div class="grid">
      <div class="col-12 col-md-6">
      <div style="display: grid;  grid-template-columns: repeat(2, 1fr); gap: 50px; position: absolute;">
            <div class="field">
                <label>Username</label>
                <input style="padding: 10px;" formControlName="username" placeholder="Enter admin username" />
            </div>

            <div   class="field">
                <label>Username</label>
                <input style="padding: 10px;" formControlName="username" placeholder="Enter admin username" />
            </div>

            <div   class="field">
                <label>Username</label>
                <input style="padding: 10px;" formControlName="username" placeholder="Enter admin username" />
            </div>


            <div class="field">
                <label>Username</label>
                <input style="padding: 10px;" formControlName="username" placeholder="Enter admin username" />
            </div>

        </div>
      </div>
    </div>
  </form>
</div>




 -->
 <router-outlet></router-outlet>
