/* .options{
    margin-left: 50px; 
    list-style-type: none; 
    display: flex; 
    width: 25%; 
    justify-content: space-between; 
    gap: 25px;
} */

::ng-deep .p-dialog .p-dialog-header {
    display: none;
  }
  
.options{
    margin-left: 30px; 
    list-style-type: none; 
    display: flex; 
    /* width: 25%;  */
    justify-content: space-between; 
    gap: 25px;
}