<div class="card" > <!-- *ngIf="showCard" -->
    <p-tabView>
      <p-tabPanel header="Facility Info">
        <form [formGroup]="FacilityForm" class="p-fluid">
          <div class="grid">

            <div class="col-12 col-md-6 ">
              <div class="field">
                <!-- <label>Facility Name</label> -->
                <input pInputText formControlName="name" placeholder="Facility name" />
              </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="field">
                    <!-- <label>Organisation</label> -->
                    <p-dropdown 
                        formControlName="organizationId"
                        [options]="orgs"
                        optionLabel="name"
                        [styleClass]="'custom-dropdown'"
                        placeholder="Organisation">
                    </p-dropdown>
                </div>
            </div>


            <div class="col-12 col-md-6">
              <div class="field">
                <p-dropdown 
                formControlName="country"
                [options]="countries"
                [optionLabel]="'name'"
                [styleClass]="'custom-dropdown'"
                [scrollHeight]="'150px'"
                placeholder=" Country"
                (onChange)="onCountrySelect($event)">
                </p-dropdown>
              </div>
            </div>
            

            <div class="col-12 col-md-6">
              <div class="field">
                <!-- <label>City</label> -->
                <!-- <input pInputText formControlName="city" placeholder="Enter your city" /> -->
                <p-dropdown 
                formControlName="city"
                [options]="cities"
                [optionLabel]="'name'"
                [styleClass]="'custom-dropdown'"
                [scrollHeight]="'150px'"
                placeholder=" City">
                </p-dropdown>
              </div>
            </div>
  
           

            <div class="col-12 col-md-6 ">
              <div class="field">
                <!-- <label>Pincode</label> -->
                <input pInputText formControlName="pinCode" placeholder="Pincode" />
              </div>
            </div>
  
            <div class="col-12">
              <div class="field">
                <!-- <label>Address</label> -->
                <textarea pInputTextarea formControlName="streetAddress" placeholder=" Address" rows="3"></textarea>
              </div>
            </div>
          </div>
  
          <div class="button-spacing">
            <!-- <p-button  class="buttons" label="Cancel"  (click)="onCancel()"  severity="danger"></p-button> -->
            <p-button  class="buttons" label="Save" (click)="onSubmit()" [disabled]="FacilityForm.invalid"></p-button>
          </div>
  
        </form>
      </p-tabPanel>
    </p-tabView>
  </div>
  