<div class="card" > <!-- *ngIf="showCard" -->
    <p-tabView>
      <p-tabPanel header="Facility Info">
        <form [formGroup]="FacilityForm" class="p-fluid">
          <div class="grid">

            <div class="col-12 col-md-6 ">
              <div class="field">
                <label>Facility Name</label>
                <input pInputText formControlName="name" placeholder="Enter facility name" />
              </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="field">
                    <label>Organisation</label>
                    <p-dropdown 
                        formControlName="org"
                        [options]="orgs"
                        [styleClass]="'custom-dropdown'"
                        placeholder="Select Organisation">
                    </p-dropdown>
                </div>
            </div>
            
  
            <div class="col-12 col-md-6">
              <div class="field">
                <label>Country</label>
                <input pInputText formControlName="country" placeholder="Enter Country">
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="field">
                <label>City</label>
                <input pInputText formControlName="city" placeholder="Enter City" />
              </div>
            </div>
  
           

            <div class="col-12 col-md-6">
              <div class="field">
                <label>Pincode</label>
                <input pInputText formControlName="pincode" placeholder="Enter Pincode" />
              </div>
            </div>
  
            <div class="col-12">
              <div class="field">
                <label>Address</label>
                <textarea pInputTextarea formControlName="address" placeholder="Enter facility" rows="3"></textarea>
              </div>
            </div>
          </div>
  
          <div class="button-spacing">
            <p-button  class="buttons" label="Cancel"  (click)="onCancel()"  severity="danger"></p-button>
            <p-button  class="buttons" label="Save" (click)="onSubmit()" [disabled]="FacilityForm.invalid"></p-button>
          </div>
  
        </form>
      </p-tabPanel>
    </p-tabView>
  </div>
  