.card{
    padding: 10px;
}



:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {  
    /* border: none; */
    background-color: white;
    padding: 10px;
    
}

/* :host ::ng-deep .p-dialog .p-dialog-header {
    display: none;
} */
