*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
  }
  
  .card {
   
      padding: 1rem; 
      /* width: 50%; */
      /* border-radius: 0.25rem; */
      /* border: 1px solid rgb(198, 193, 193); */
      background-color: #fff;
      /* height: 40%; */
      /* position: absolute; */
      /* top: 50%; */
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
     
  
    }
  
    .grid {
      display: grid;
      gap: 2rem;
    }
  
  .button-spacing{
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      /* justify-content: center; */
      align-items: center;
      margin-top: 10px;
    }
  
  input{
    padding: 6px;
  }
  
  .buttons{
    width: 50px;
    margin-top: 10px;
  }
  
  :host ::ng-deep .p-tabview {
    border: none;
  }
  
    :host ::ng-deep .p-tabview-panels {
      padding-top: 1rem;
    }
  
    :host ::ng-deep .p-tabview-nav li {
      margin-right: 1rem;
    }
  
    :host ::ng-deep .p-tabview-nav {
      border-bottom: none; 
      /* border-top: none; */
    }
  
     :host ::ng-deep .p-button{
      background-color: #9bbb9b;
      border: solid #9bbb9b;
      height: 30px;
    }  
  
  
    /* cancel button */
    :host ::ng-deep #cancel .p-button{
      background-color: #61615e7f;
      border:#9bbb9b;
    }
  
    :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
      padding: 4px;
      color: white;
      height:30px;
      border-color: #9bbb9b;
      background-color: #9bbb9b ;
    }
  
     :host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link{
      height: 30px;
      border-bottom: none;
      font-weight: 400;
    } 
  
    :host ::ng-deep .p-fluid .p-dropdown .p-dropdown-label {
      height: 30px;
      padding-left: 6px;
    }
  
  /* up down buttons */
    :host ::ng-deep .p-fluid .p-inputnumber .p-inputnumber-input{
      height: 32px;
      padding-left: 10px;
    }
  
  
    :host ::ng-deep #up-down{
      height: 32px;
      padding-left: 10px;
    }
  
  
  @media (min-width: 768px) {
  
    .button-spacing{
  
      flex-direction: row;
      gap: 10px;
      justify-content: end;
      margin-top: 10px;
    }
  
    input{
      padding: 6px;
    }
    
    .buttons{
      width: 60px;
    }
  
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
  
    .flex {
      display: flex;
    }
    
    .justify-content-end {
      justify-content: flex-end;
    }
    
    :host ::ng-deep .p-tabview-panels {
      padding: 1rem;
    }
    
    :host ::ng-deep .p-tabview-nav li {
      margin-right: 1rem;
    }
  }
  