<div class="card" > <!-- *ngIf="showCard" -->
    <p-tabView [(activeIndex)]="activeIndex">
      <p-tabPanel header="Floor Layout" [ngClass]="{'selected-tab-panel': activeIndex===0}">
        <form [formGroup]="FloorForm" class="p-fluid"  >
          <div class="grid">

            <div class="col-12 col-md-6">
                <div class="field">
                    <!-- <label>Organisation</label> -->
                    <input pInputText formControlName="organizationId" placeholder="{{orgName}}" readonly />
                    <!-- <p-dropdown 
                        formControlName="org"
                        [options]="orgs"
                        [styleClass]="'custom-dropdown'"
                        placeholder="Organisation">
                    </p-dropdown> -->
                </div>  
            </div>
  
            <div class="col-12 col-md-6">
              <div class="field">
                <!-- <label>Floor Level</label> -->
                <input pInputText formControlName="floorLevel" placeholder="Floor level" />
              </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="field">
                    <!-- <label>Country</label> -->
                    <p-dropdown 
                        formControlName="country"
                        [options]="countries"
                        optionLabel="name"
                        [styleClass]="'custom-dropdown'"
                        placeholder="Country">
                    </p-dropdown>
                </div>
            </div>
  
            <div class="col-12 col-md-6">
              <div class="field">
                  <!-- <label>Facility</label> -->
                  <p-dropdown 
                      formControlName="facilityId"
                      [options]="facilities"
                      optionLabel="name"
                      (onChange)="onChange($event)"
                      [styleClass]="'custom-dropdown'"
                      placeholder="Facility">
                  </p-dropdown>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="field">
                  <input 
                      type="number"
                      formControlName="noOfSeats"
                      min="1" 
                      max="50"
                      placeholder="Number of slots" 
                      class="p-inputtext p-component form-control" />
                  <!-- <p-inputNumber 
                      id="up-down"
                      formControlName="seats"
                      mode="decimal" 
                      [showButtons]="true" 
                      [min]="1" 
                      [max]="50"
                      [placeholder]="'Enter number of seats'" /> -->

              </div>
            </div>


            <!-- <label>No of Seats</label>   [(ngModel)]="value2"  inputId="minmax-buttons" 
                <input pInputText formControlName="seats" 
                placeholder="Enter no of Seats"/> -->
  
            <div class="col-12">
              <div class="field">
                <!-- <label>The Floor Name :</label> -->
                <input pInputText formControlName="floorName" 
                placeholder="Floor Name" readonly/>
              </div>
            </div>

          </div>  
          
          <div  class="chip-box" data-text="Added Rooms....">
            <div *ngFor="let room of roomarray; let i= index; " style="margin-left:5px ;">
              <!-- <h3>{{room.roomName}}</h3> -->
                <div class="chip"  (click)="roomEdit(room,i)" >
                  <span >{{room.name}}</span>   
                  <span  (click)="deleteRoom(room,i)"> <i id="cross" class="fas fa-window-close"></i>  </span>
                </div>
            </div>
          </div>
  
          <div class="button-spacing">
            
            <p-button  class="buttons" id="addRooms" label="AddRoom" (onClick)="addRoom()" [disabled]="!FloorForm.valid || roomarray.length >= 5"></p-button>
              <!-- <p-button  class="buttons" label="Cancel" (onClick)="onCancelFloor()" severity="danger"></p-button> -->
            <p-button  class="buttons" label="Submit" (onClick)="onSubmitFloor()" [disabled]="!FloorForm.valid || roomarray.length < 1" ></p-button>  
          </div>
  
        </form>
      </p-tabPanel>
  
      <p-tabPanel header="Room Layout">
        <form [formGroup]="RoomForm" class="p-fluid">
          <div class="grid">

            <div class="col-12 col-md-6">
              <div class="field">
                <!-- <label>Room Name</label> -->
                <input pInputText formControlName="roomName"
                 placeholder="Room name" />
              </div>
            </div>
  
            <div class="col-12 col-md-6">
              <div class="field">
                <!-- <label>Room Occupancy</label> -->

                <input 
                      type="number"
                      formControlName="roomOccupancy"
                      min="1" 
                      max="12"
                      placeholder="Occupancy" 
                      class="p-inputtext p-component form-control" 
                />

              </div>
            </div>
  
            
          </div>
          <div class="button-spacing">
            <p-button class="buttons"  id="cancel" label="Cancel" (onClick)="onCancelRoom()"  severity="danger"></p-button>
            <p-button class="buttons" label="Submit" (onClick)="onSubmitRoom()"
             [disabled]="!RoomForm.valid && !isEdit || roomarray.length >= 5 && !isEdit"
             ></p-button>
          
          </div>
        </form>
      </p-tabPanel>
    </p-tabView>
  </div>
  